.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__content {
  padding: 40px 0 20px;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
}

.menu {
  display: flex;
  gap: 4px;
  background: #0B0D0F;
  border-radius: 1000px;
  transition: all 0.3s ease 0s;
}

.menu-list {
  display: flex;
  gap: 4px;
}

.menu__list-item {
  position: relative;
  display: block;
  padding: 12px 22px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #D5DFE9;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.menu__list-link {
  color: #D5DFE9;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.phone {
  color: #1D1F23;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
  border-radius: 56px;
  background: #6CDEBB;
  display: flex;
  padding: 14px 17px;
  align-items: center;
}

.section__offer {
  background-color: #000000;
}

.offer__content {
  background-color: #0a0b0d;
  background-image: url(../images/backgroundOffer.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 128px;
  border-radius: 0px 0px 60px 60px;
  overflow: hidden;

}

.offer__content-text {
  text-align: center;
  font-style: normal;
  max-width: 750px;
  margin: 0 auto 38px;
  position: relative;
}



.offer__title-line {
  position: absolute;
  top: 34.4%;
  left: 1.6%;
  rotate: -10deg;
}



.offer__title {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 64px;
  line-height: 111.5%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #D5DFE9;
  position: relative;
}

/* .offer__title::before {
  content: url(../images/lineTitleOffer.svg);
  position: absolute;
  left: 1.7%;
  top: 18.3%;
} */




.offer__span {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(213, 223, 233, 0.5);
}

.offer__links {
  margin-bottom: 86px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: relative;
}

.offer__sun {

  position: absolute;
  bottom: -111%;
  right: 17.4%;
  rotate: 60deg;
}


/* .offer__links::before {
  content: url(../images/sun.svg);
  position: absolute;
  right: 17.5%;
  bottom: -115.7%;
} */

.offer__link {
  width: 170px;
  cursor: pointer;
}



.offer__link-choice {
  background: #6CDEBB;
  border: 3px solid #3b695f;
  border-radius: 16px;
  color: #1D1F23;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  transition: all 0.3s ease 0s;
  margin: 0;
  padding: 0;
  outline: 0;
}

.offer__link-see {
  width: 170px;
  cursor: pointer;
  gap: 10px;
  background: #3E424B;
  border-radius: 16px;
  color: #D5DFE9;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  transition: all 0.3s ease 0s;
}

.offer__link-see::before {
  position: relative;
  content: url(../images/playVIdeo.svg);
  display: block;
  right: -4px;
}

.offer__content-inner {
  max-height: 673px;
}

.offer__images {
  position: relative;
}

.offer__lightnings {
  position: absolute;
  top: -18%;
  left: 28%;
  rotate: 20deg;
}

/* .offer__images::before {
  content: url(../images/lightnings.svg);
  position: absolute;
  top: -12%;
  left: 28%;
} */

/* .offer__images::after {
  content: url(../images/lines.svg);
  position: absolute;
  top: 17%;
  left: 22.7%;
} */

.offer__lines {
  position: absolute;
  top: 17%;
  left: 22.8%;
  rotate: -20deg;
}

.offer__img-car {
  margin: 0 auto;
}

.offer__service-items {
  position: relative;
  z-index: 1;
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  bottom: 213px;
  opacity: 0;

}

.offer__service-item {
  width: 170px;
  height: 186px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  background: rgba(62, 66, 75, 0.50);
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding-top: 28px;
}

.offer__service-item-notdrive,
.offer__service-item-discounts {
  padding: 28px 40px 0;
}

.offer__service-item-cars::before {
  content: url('../images/service/car.svg');
  margin: 0 auto 7px;
  display: block;
}

.offer__service-item-unchear::before {
  content: url('../images/service/unchear.png');
  margin: 0 auto 7px;
  display: block;
}

.offer__service-item-notdrive::before {
  content: url('../images/service/notDriver.png');
  margin: 0 auto 7px;
  display: block;
}

.offer__service-item-service::before {
  content: url('../images/service/corporateService.png');
  margin: 0 auto 7px;
  display: block;
}

.offer__service-item-discounts::before {
  content: url('../images/service/discounts.png');
  margin: 0 auto 7px;
  display: block;
}

.section__about {
  background-color: #000000;
}

.about__content {
  padding: 200px 0 235px;
}

.about__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 111.5%;
  letter-spacing: 0.02em;
  color: #D5DFE9;
  position: relative;
  bottom: 6px;
}

.about__title::before {
  content: url('../images/aboutStroke.svg');
  position: absolute;
  top: -35%;
  left: -10%;
}

.about__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 64px;
}

.about__text {
  max-width: 970px;
  margin: 0 auto 84px;
  padding: 0 100px 0 0;
}

.about__text-inner {
  color: #D5DFE9;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 111.5%;
  letter-spacing: 1.7px;

}

.about__bottom {
  display: flex;
  justify-content: space-between;
  max-width: 970px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.about__possibilities-departure,
.about__possibilities-accessories {
  display: flex;
  width: 470px;
  height: 124px;
  align-items: center;
  gap: 24px;
  border-radius: 30px;
  background: #16191D;
  padding: 30px 30px 28px;
  position: relative;
}

.about__possibilities-departure::before {
  content: url("../images/flagGeorgia.png");
}

.about__possibilities-accessories::before {
  content: url("../images/tools.png");
}

.about__possibilities-departure-text {
  position: relative;
}

.about__possibilities-departure::after {
  content: url('../images/flagAbout.svg');
  position: absolute;
  bottom: -21%;
  left: -1.2%;
}

.about__possibilities-departure-text::before {
  content: url('../images/arrrowAbout.svg');
  position: absolute;
  top: -46%;
  right: 33%;
}

.about__possibilities-accessories-text {
  position: relative;
  font-weight: 100;
}

.about__possibilities-accessories-text::after {
  content: url(../images/starAbout.svg);
  position: absolute;
  right: -20%;
  top: -16%;
}

.about__possibilities-accessories-text::before {
  content: url(../images/lineAbout.svg);
  position: absolute;
  right: 55%;
  top: 85%;
}






.section__choice {
  padding: 334px 0 348px;
  background-color: #000000;
}

.choice__content {
  border-radius: 0 0 60px 60px;
}


.choice__title {
  color: #D5DFE9;
  text-align: center;
  font-family: Lato;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.5%;
  letter-spacing: 1.28px;
  z-index: 100;
}

.choice__title-span {
  display: block;
  position: relative;
  z-index: 100;
  font-weight: 100;
  letter-spacing: 2px;
}

.choice__title-span:first-child {
  letter-spacing: 3px;
}

.choice__title-span:first-child::before {
  content: url(../images/linesChoice.svg);
  position: absolute;
  top: -38%;
  left: 31.6%;

}

.choice__title-span:first-child::after {
  position: absolute;
  content: url(../images/choiceCrown.svg);
  bottom: 24%;
  right: 34.6%;
}



.choice__title-span:last-child::after {
  content: url(../images/lightningsChoice.svg);
  position: absolute;
  right: 17.5%;
  bottom: -37%;

}

.choice__img {
  position: relative;
  top: -64px;
  right: -47.2%;
}

.cars__content {
  padding: 172px 117px 133px 134px;
  background-color: #000000;
}

.list__cars {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  color: #D5DFE9;
  margin-bottom: 64px;
  justify-content: center;
}

.item__car {
  padding: 36px 23px 26px 30px;
  border-radius: 30px;
  background: #16191D;
  width: 370px;
}

.item__car:first-child {
  padding: 32px 23px 26px 29px;
}

.item__car:last-child {
  padding: 36px 25px 26px 30px;
}

.car__reservation-reno {
  margin-bottom: 29px;
}

.car__reservation-hyundai {
  margin-bottom: 32px;
}

.car__reservation-haval {
  margin-bottom: 31px;
}




.car__info {
  display: flex;
  width: 313px;
  justify-content: space-between;
  height: 54px;
  align-items: flex-start;
  margin-bottom: 24px;
}

.car__name {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.5%;
}

.car__name {
  max-width: 180px;
}

.ccar__span {
  display: flex;
  padding: 8px 14px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #6CDEBB;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.5%;
}





.car__list-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-right: 7px;
  margin-bottom: 22px;
}

.item__car-power,
.item__car-engine,
.item__car-capacity {
  background-color: #272C34;
  padding: 10px 14px 8px;
  border-radius: 14px;
}

.item__car-power::before {
  content: url(../images/iconPower.svg);
  margin-bottom: 20px;
  display: block;
}

.item__car-engine::before {
  content: url(../images/iconEngine.svg);
  margin-bottom: 20px;
  display: block;
}

.item__car-capacity::before {
  content: url(../images/iconCapacity.svg);
  margin-bottom: 20px;
  display: block;
}


.item__car-power-title,
.item__car-engine-title,
.item__car-capacity-title {
  align-self: stretch;
  color: #66727E;
  font-family: Lato;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: 111.5%;
  text-transform: uppercase;
}




.car__item-link {
  display: flex;
  height: 55px;
  padding: 16px 12px 16px 11px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 3px solid #366257;
  background: #6CDEBB;
  font-variant-numeric: lining-nums proportional-nums;
  max-width: 313px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #1D1F23;
  letter-spacing: -0.46px;
}

.car__item-price {
  padding: 6px 10px;
  background: #FFFFFF;
  border-radius: 100px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #1D1F23;
}

.car__link {
  width: fit-content;
  display: flex;
  align-items: baseline;
  gap: 24px;
  font-weight: 700;
  line-height: 139%;
  transition: color 0.3s ease 0s;
  color: #6F747A;
  font-size: 22.5px;
  font-style: normal;
  margin: 0 auto;
}

.car__link:hover {
  color: #ffffff;
}








.conditions__content {
  padding: 409px 410px 420px;
  background-color: #D5DFE9;
}

.conditions__title {
  color: #0B0D0F;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.5%;
  letter-spacing: -1px;
  position: relative;
}

.conditions__title::after {
  content: url(../images/marks.svg);
  position: absolute;
  bottom: -17%;
  right: -17%;
}


.conditions__title::before {
  content: url(../images/stripe.svg);
  position: absolute;
  top: 55%;
  left: 1%;
}



.conditions__content-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 91px;
}


.conditions__content-bottom {
  padding: 203px 0 369px;
}

.conditions__content-bottom-requirements {
  display: flex;
  justify-content: space-between;
}

.conditions__content-bottom-requirements-title span {
  display: block;
}


main {
  overflow-x: hidden;
}